.nav-bar {
    width: 100%;
    background-color: #ef5939;
    display: grid;
}

.nav-bar__item {
    /* padding: 2rem 0; */
    text-align: center;
}

.pd-bottom-medium {
    padding-bottom: 1rem;
  }

.btn-container {
    display: flex;
}

.button-element {
    flex: 1 1 auto;
    padding: 1rem;
    margin: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 8px 4px rgba(0,0,0,0.23);
    /* border: 6px solid transparent; */
}

.active {
    box-shadow: none;
    /* border-color: #5FAD41; */
}

a {
    text-decoration: none;
    color: black;
    outline: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}